<div class="container">
<div class="home">
    <h1>Spartan's sports Cente</h1>
    <img [src]="images">
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Exercitationem eveniet illo enim commodi inventore optio? Animi est ea enim sed, hic odio illum ad accusantium praesentium tempore facere molestiae culpa quibusdam expedita mollitia velit officia recusandae impedit vitae autem nulla rem. Soluta nam modi commodi blanditiis consequuntur eaque, explicabo at minima hic neque ipsam, tenetur dignissimos quam laborum non provident fugiat id. Tenetur assumenda magnam a nihil earum excepturi qui nulla quam, distinctio voluptatum, laborum possimus. Delectus deleniti vel voluptates explicabo expedita reiciendis cum assumenda facilis et, odio dolor consequuntur officiis id, dicta minus sequi? Consequatur, voluptate modi? Eius, veritatis?</p>
    <button type="button"(click)="onSubscribe()">Subscribe</button>
</div>
</div>